             /* COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
}

#jumbotron .container-jumbo{
    width: 100%;
    background-color: cornflowerblue;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

            /* HEADER */

header{
    width: 100%;
    height: 80px;
    padding-top: 10px;

}

.logo {
    width: 9%;
    float: left;
}

.logo img{
    vertical-align: middle;
}

#menu-destra{
    text-align: center;
}

#menu-destra li{
    width: 12%;
    float: left;
    list-style: none;
}

#menu-destra li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}

nav {
    width: 49%;
    float: left;
    text-align: center;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    color: black;
    font-size: 16px;
    margin-left: 15px;
    text-decoration: none;
}

.btn{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

            /* JUMBOTRON */

.jumbo-text{
    margin: 0 40px;
}
.jumbo-text h1{
    width: 80%;
    font-weight: 700;
    font-size: 55px;
    padding: 90px 5px;
}

.jumbo-text p{
    width: 35%;
    font-size: 25px;
    font-weight: 500;
}

.jumbo-text .btn-jumbo{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

.jumbo-text .annulla{
    margin-top: 20px;
}

i{
    margin-top: 30px;
    font-size: 50px;
}

.jumbo-text img{
    width: 65%;
    height: 50%;
    float: right;
    margin-top: -25%;
}

/* DEBUG */

.debug .container{
    height: 100%;
    background-color: white;
    padding: 25px;
}

.debug .container-jumbo{
    height: 800px;
}




