             /* COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
}

#jumbotron .container-jumbo{
    width: 100%;
    background-color: cornflowerblue;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

            /* HEADER */

header{
    width: 100%;
    height: 80px;

}

.logo {
    width: 9%;
    float: left;
}

.logo img{
    vertical-align: middle;
}

#menu-destra{
    text-align: center;
}

#menu-destra li{
    width: 12%;
    float: left;
    list-style: none;
}

#menu-destra li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
}

nav {
    width: 49%;
    float: left;
    text-align: center;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    color: black;
    font-size: 16px;
    margin-left: 15px;
    text-decoration: none;
}

.btn{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
}

            /* JUMBOTRON */

.jumbo-text{
    margin: 0 50px;
}

.jumbo-text h1{
    width: 80%;
    font-weight: 700;
    font-size: 55px;
    padding: 100px 0;
}

.jumbo-text p{
    width: 30%;
    font-size: 25px;
    font-weight: 500;
}

.jumbo-text .btn-jumbo{
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
}
}




/* DEBUG */

.debug .container{
    height: 100%;
    background-color: white;
    padding: 25px;
}

.debug .container-jumbo{
    height: 700px;
}


